<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Cadastro de Usuário</title>
</head>

<body>
	<h1>Sew</h1>
	<h3>Cadastro de usuário</h3>
	<br>
	<form method="POST" action="../Control/ControlUsuario.php">
	
		<label>Nome Completo:</label>
		<input type="text" name="NomeCompleto">
		<br>
		<br>
		<label>Nome de Usuario:</label>
		<input type="text" name="NomeUsuario">
		<br>
		<br>
		<label>E-mail:</label>
		<input type="text" name="email">
		<br>
		<br>
		<label>Telefone:</label>:</label>
		<input type="text" name="telefone">
		<br>
		<br>
		<label>Senha:</label>
		<input type="password" name="senha">
		<br>
		<br>
		<button type="submit" name="btnCadastrar">Cadastrar</button>
		
	</form>
	<a href="ViewLoginUsuario.html">Já possui cadastro? Clique aqui!</a>
</body>

</html>